{% load static %}
{% load vite %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'catalyst_utils/img/favicon.ico' %}">

     <!-- google fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@400;500;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

     <!-- vite css bundle -->
    {% vite_styles 'catalyst_utils_vue/main.js' %}

</head>

<body data-django-debug="{{ django_debug|lower}}" data-user-name="{{ username }}" data-signout-url="{{ signout_url }}"{% if google_analytics %} data-google-analytics="{{ google_analytics }}"{% endif %} class="bg-light">

    {% if messages %}
    <div class="alert alert-{{ message_level }} d-print-none border-0 m-0 small" role="alert">
        <div class="container-xl">
          {% for message in messages %}
          <div class="row">
              <div class="col text-center {% if not forloop.last %}mb-2{% endif %}">
              <i class="bi bi-exclamation-circle-fill me-2"></i><span>{{ message }}</span>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- vue app will be injected here -->
    <div id="app"></div>

    <!-- vite js bundle -->
    {% vite_scripts 'catalyst_utils_vue/main.js' %}

</body>

</html>
